APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:fgJnrBQz+dOCbxWzA46rBqlR16m9lYlEvBYzllNM0Fw=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fanar
DB_USERNAME=postgres
DB_PASSWORD=123123

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

FILESYSTEM_DRIVER=public
FILEMANAGER_DISK=public

GOOGLE_PLACES_API_KEY=AIzaSyCYBCOJTtzimGwop9IesQNN21CbBTyR8jc
SCOUT_DRIVER=null

MAILCHIMP_APIKEY=a1e749b135aed7eaafdcc511e191e8c0-us16
ANALYTICS_VIEW_ID=122963432
